<?xml version="1.0"?>

<model>
  <name>bluerov2_heavy</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Nicola De Carli</name>
    <email>ndc@kth.se</email>
  </author>

  <description>
    Model of the BlueROV2 in heavy configuration with 8 thrusters.
  </description>

</model>
