<?xml version="1.0"?>

<model>
  <name>kth_tank</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Muhammad Faran Akram</name>
    <email>faran1218@gmail.com</email>
  </author>

  <author>
    <name>Victor Nan Fernandez-Ayala</name>
    <email>viktornfa@gmail.com</email>
  </author>

  <description>
    KTH Water Tank for underwater vehicle testing: https://www.kth.se/marinarium.
  </description>
  
</model>
