<?xml version="1.0"?>
<model>
  <name>atmos_dual</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Pedro Roque</name>
    <email>roque@caltech.edu</email>
  </author>
  <description>ATMOS Dual model. More information in https://atmos.discower.io .</description>
</model>
