<?xml version="1.0"?>
<model>
  <name>x500_realsense_flow</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Serkan Mazlum</name>
    <email>betalpha445@gmail.com</email>
  </author>
  <description>x500 model with intel realsense, optical flow and distance</description>
</model>
