<?xml version="1.0"?>
<model>
  <name>x500_gimbal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Stefano Colli</name>
    <email>stefano@auterion.com</email>
  </author>
  <description>Model of the X500 with a camera attached on a gimbal.</description>
</model>
