<?xml version="1.0"?>
<model>
  <name>x500_realsense</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Serkan Mazlum</name>
    <email>betalpha445@gmail.com</email>
  </author>
  <description>Model of the X500 with a odometry/external vision input.</description>
</model>
