<?xml version="1.0"?>
<model>
  <name>x500_double_cam_down</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Daniel Mesham</name>
    <email>daniel@auterion.com</email>
  </author>
  <description>An X500 with two downward-facing monocular cameras.</description>
</model>

