<?xml version="1.0"?>
<model>
  <name>quadtailsitter</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Pernilla Wikström</name>
   <email>pernilla@auterion.com</email>
  </author>

  <description>
    This is a model of a quad tailsitter, modelling the Swan K1.
    Model provided by Holybro
  </description>
</model>
