<?xml version="1.0"?>
<model>
  <name>lawnmower</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Sergei Grichine</name>
   <email>slg@quakemap.com</email>
  </author>

  <description>
    This is a model of a full scale gas-powered zero-turn lawn mower (HUSQVARNA Z254F)
  </description>
</model>
