<?xml version="1.0"?>
<model>
  <name>tiltrotor</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Pernilla Wikström</name>
   <email>pernilla@auterion.com</email>
  </author>

  <description>
    This is a model for a quad-tiltrotor with motors in x configuration.
  </description>
</model>
