<?xml version="1.0"?>
<model>
  <name>ASL ROVER</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
   <name>Uluhan Cem Kaya</name>
   <email>uluhancem.kaya@uta.edu</email>
  </author>

  <description>
    This is a model of the differential drive rover built in Aerospace Systems Laboratory.
  </description>
</model>
