<?xml version="1.0"?>
<model>
    <name>apriltag_board_6x6</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>
    <author>
        <name>Serkan Mazlum</name>
        <email>betalpha445@gmail.com</email>
    </author>
    <description>
        AprilTag board with 6x6 tags. (A0)
        - target_type: 'aprilgrid'
        - tagCols: 6              
        - tagRows: 6              
        - tagSize: 0.088          
        - tagSpacing: 0.3         
    </description>
</model>