<?xml version="1.0"?>
<model>
  <name>r1_mecanum_rover</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>
  <license>https://github.com/aionrobotics/aion_io/blob/master/LICENSE.txt</license>

  <author>
   <name>Nicholas Nunno</name>
   <name>Per Frivik</name>
  </author>

  <description>
    This is an adapted mecanum model for the Aion robotics R1 ugv rover. The sdf file is adpated from [aion_io](https://github.com/aionrobotics/aion_io)
  </description>
</model>
