<?xml version="1.0"?>
<model>
    <name>aruco_marker</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Your Name</name>
        <email>your.email@example.com</email>
    </author>

    <description>
        A simple ArUco marker model.
    </description>
</model>