<?xml version="1.0"?>
<model>
  <name>x500_mono_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Markus Achtelik, Frederik Markus</name>
    <email>markus@auterion.com</email>
  </author>
  <description>An x500 with a simple simple monocular camera.</description>
</model>
