<?xml version="1.0"?>
<model>
  <name>bicopter_with_px4</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Compatible Version</name>
    <email>support@px4.io</email>
  </author>
  <description>
    Bicopter (tilt-rotor) aerial vehicle model optimized for PX4 Autopilot.
    This model features two tilting rotors for vertical takeoff and forward flight.
    Vehicle class: 10 (BiCopter)
  </description>
</model>
