<?xml version="1.0"?>
<model>
  <name>fy690s_tilt_rokubi</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Dion Walton & Samuel Bonsaint</name>
    <email>ddwalton@ualberta.ca & sbonsain@ualberta.ca</email>
  </author>
  <description>Tarot FY690S Hexacopter with Tilted Rotors for FA with Rokubi force sensor. There is another fixed-tilt FA model which exists without the force sensor</description>
</model>
