<?xml version="1.0"?>
<model>
  <name>piazinho_mid360_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Carlos Zanon</name>
    <email>caduzanon@ieee.org</email>
  </author>
  <author>
    <name>Victor Garrett</name>
    <email>victorgarrett@alunos.utfpr.edu.br</email>
  </author>
  <description>Model of Gralhabots' Piazinho X500 Drone with a Livox Mid360 and camera on bottom.</description>
</model>
