<?xml version="1.0"?>
<model>
  <name>fy690s_tilt</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Dion Walton & Samuel Bonsaint</name>
    <email>ddwalton@ualberta.ca & sbonsain@ualberta.ca</email>
  </author>
  <description>Tarot FY690S Hexacopter with Tilted Rotors for FA, no force sensor (see Rokubi model)</description>
</model>
