<?xml version="1.0"?>
<model>
  <name>spacecraft_2d</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Pedro Roque</name>
    <email>padr@kth.se</email>
  </author>
  <description>Model of the KTH Space Robotics Laboratory 2D Spacecraft Simulator.</description>
</model>
