<?xml version="1.0"?>
<model>
  <name>coisaruim_mono_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Carlos Zanon</name>
    <email>caduzanon@ieee.org</email>
  </author>
  <description>Model of Gralhabots' CoisaRuim 7inch Drone with a camera on the bottom.</description>
</model>
