<?xml version="1.0"?>
<model>
  <name>Boat</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author email="briansbingham@gmail.com">Brian Bingham</author>
  <author email="caguero@osrfoundation.org">Carlos Aguero</author>
  <author email="stephencferro@gmail.com">Stephen Ferro</author>

  <description>
    This is a model of a boat model based on WAM-V. The implementation is based on [osrf/vrx](https://bitbucket.org/osrf/vrx/)
  </description>
</model>
