<?xml version="1.0"?>
<model>
  <name>piazinho_flow_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Carlos Zanon</name>
    <email>caduzanon@ieee.org</email>
  </author>
  <description>Gralhabots' Piazinho quadrotor with a simulated MTF-01 OpticalFlow sensor based on x500_flow by Jacob Dahl.</description>
</model>